# Porta do servidor
PORT=3000

# Meta Ads Pixel & Token de Acesso (CAPI)
META_PIXEL_ID=YOUR_META_PIXEL_ID
META_ACCESS_TOKEN=YOUR_META_ACCESS_TOKEN

# Token de Verificação da Hotmart (Token do Webhook para Segurança)
HOTMART_TOKEN=YOUR_HOTMART_WEBHOOK_TOKEN

# URL da sua Landing Page
LANDING_PAGE_URL=https://seusite.com.br
